:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #757575;
  --background: #2f303a;
  --filer-and-team: #f5f4fa;
  --white-color: #ffffff;
  --icons-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lists {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__no-padding-top {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section__no-padding-top {
    display: block;
    padding-top: 0px;
  }
}

.section__other-background {
  background-color: var(--filer-and-team);
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__container {
  position: relative;
  padding: 40px 48px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    align-items: baseline;
    display: flex;
  }
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
  }
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: #000000;
}

.logo__studio-footer {
  color: var(--white-color);
}

.logo-footer {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    text-align: left;
  }
}

.address__contacts, .contacts__link {
  color: var(--second-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.address__contacts:hover, .contacts__link:hover, .address__contacts:focus, .contacts__link:focus, .address__contacts:active, .contacts__link:active {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.contacts__icon {
  fill: currentColor;
}

.address__contacts {
  letter-spacing: 0.03em;
}

.modal-form__button, .newsletter__button, .hero__button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.hero__button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.modal-form__button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.mobile-menu-btn,
.mobile-menu__close-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill var(--transition-dur-and-func);
  cursor: pointer;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11000;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__list {
  margin-bottom: 306px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__contact {
  margin-bottom: 64px;
}

.mobile-menu__contact-phone {
  margin-bottom: 32px;
}

.mobile-menu__contact-phone-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-menu__contact-email {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-menu__social-networks {
  display: flex;
}

.mobile-menu__social-networks-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social-networks-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__social-networks-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.portfolio-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__description {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-list__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-list__card:hover .portfolio-list__overlay, .portfolio-list__card:focus .portfolio-list__overlay {
  transform: translateY(0%);
}

.social-networks {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.social-networks__links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks__item-links {
  fill: var(--icons-color);
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.social-networks__item-links:hover, .social-networks__item-links:focus, .social-networks__item-links:active {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social-networks__item {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 767px) {
  .footer-social-networks {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-networks {
    margin-right: 93px;
  }
}

.footer-list__social-networks {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-list__social-networks:hover, .footer-list__social-networks:focus, .footer-list__social-networks:active {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .newsletter {
    display: flex;
    column-gap: 12px;
  }
}

.newsletter__email {
  width: 100%;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 20px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transition-dur-and-func);
}
.newsletter__email:hover, .newsletter__email:focus {
  border: 1px solid #2196f3;
  outline: none;
}
@media screen and (max-width: 767px) {
  .newsletter__email {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .newsletter__email {
    width: 450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__email {
    width: 358px;
  }
}

.newsletter__icon {
  fill: var(--white-color);
}

.address {
  font-style: normal;
}

.address__item {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__item {
    text-align: left;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__field-commet {
  margin-bottom: 20px;
}

.modal-form__input-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
  cursor: pointer;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: var(--transition-dur-and-func);
}
.modal-form__input-required:hover + .modal-form__icon, .modal-form__input-required:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input-required {
  height: 40px;
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
  cursor: pointer;
}
.modal-form__message:hover, .modal-form__message:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8.38px;
}

.modal-form__own-checkbox {
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.modal-form__checkbox:focus + .modal-form__own-checkbox {
  border: 2px solid var(--accent-color);
}
.modal-form__checkbox:checked + .modal-form__own-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form__checkbox:checked + .modal-form__own-checkbox .modal-form__own-checkbox-icon {
  display: block;
}

.modal-form__own-checkbox-icon {
  fill: var(--white-color);
  display: none;
}

.modal-form__policy {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__close-icon {
  transition: var(--transition-dur-and-func);
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal-form__terms {
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .header {
    border-bottom: 1px solid #ececec;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.navigation-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  .site-nav,
.contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link:active {
  color: var(--accent-color);
}

.site-nav__link-current {
  color: var(--accent-color);
  position: relative;
}
.site-nav__link-current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -34.5px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .site-nav__link-current::after {
    bottom: -39.5px;
  }
}
.hero {
  background: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    max-width: 480px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .benefits-list__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    max-width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits-list__icon-box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits-list__description {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.service-list {
  display: flex;
}

.service-list__item {
  position: relative;
}
.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__background-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-list__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .customers {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    justify-content: center;
  }
}

.customers__item {
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  transition: fill var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.customers__link:hover, .customers__link:focus, .customers__link:active {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-filter {
    max-width: 326px;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-filter {
    margin-bottom: 50px;
  }
}

.portfolio-filter__btn {
  color: inherit;
  background-color: var(--filer-and-team);
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus, .portfolio-filter__btn:active {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .portfolio-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: 370px;
  }
}

.portfolio-list__card {
  color: inherit;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-list__card:hover, .portfolio-list__card:focus, .portfolio-list__card:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-list__text-box {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-address-and-social-networks {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address-and-social-networks {
    justify-content: center;
    column-gap: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .footer-address-block {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address-block {
    margin-right: 70px;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__text {
    text-align: left;
  }
}

.footer-list {
  width: 44px;
  height: 44px;
}/*# sourceMappingURL=main.css.map */