:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --second-text-color: #757575;
  --background: #2f303a;
  --filer-and-team: #f5f4fa;
  --white-color: #ffffff;
  --icons-color: #afb1b8;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lists {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__no-padding-top {
  padding-top: 0px;
}

.section__other-background {
  background-color: var(--filer-and-team);
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__header {
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: #000000;
}

.logo__studio-footer {
  color: var(--white-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address__contacts, .contacts__link {
  color: var(--second-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.address__contacts:hover, .contacts__link:hover, .address__contacts:focus, .contacts__link:focus, .address__contacts:active, .contacts__link:active {
  color: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.contacts__icon {
  fill: currentColor;
}

.address__contacts {
  letter-spacing: 0.03em;
}

.modal-form__button, .newsletter__button, .hero__button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.hero__button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}

.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 200px;
  height: 50px;
}

.modal-form__button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.portfolio-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__description {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-list__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-list__card:hover .portfolio-list__overlay, .portfolio-list__card:focus .portfolio-list__overlay {
  transform: translateY(0%);
}

.social-networks {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.social-networks__links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks__item-links {
  fill: var(--icons-color);
  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.social-networks__item-links:hover, .social-networks__item-links:focus, .social-networks__item-links:active {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social-networks__item {
  width: 44px;
  height: 44px;
}

.footer-social-networks {
  margin-right: 93px;
}

.footer-list__social-networks {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-list__social-networks:hover, .footer-list__social-networks:focus, .footer-list__social-networks:active {
  background-color: var(--accent-color);
}

.newsletter {
  display: flex;
  column-gap: 12px;
}

.newsletter__email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transition-dur-and-func);
}
.newsletter__email:hover, .newsletter__email:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.newsletter__icon {
  fill: var(--white-color);
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__field-commet {
  margin-bottom: 20px;
}

.modal-form__input-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input {
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
  cursor: pointer;
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: var(--transition-dur-and-func);
}
.modal-form__input-required:hover + .modal-form__icon, .modal-form__input-required:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input-required {
  height: 40px;
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
  cursor: pointer;
}
.modal-form__message:hover, .modal-form__message:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8.38px;
}

.modal-form__own-checkbox {
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.modal-form__checkbox:focus + .modal-form__own-checkbox {
  border: 2px solid var(--accent-color);
}
.modal-form__checkbox:checked + .modal-form__own-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form__checkbox:checked + .modal-form__own-checkbox .modal-form__own-checkbox-icon {
  display: block;
}

.modal-form__own-checkbox-icon {
  fill: var(--white-color);
  display: none;
}

.modal-form__policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  cursor: pointer;
}

.modal__close-icon {
  transition: var(--transition-dur-and-func);
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal-form__terms {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-container {
  display: flex;
}

.site-nav, .contacts {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child), .contacts__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link:active {
  color: var(--accent-color);
}

.site-nav__link-current {
  color: var(--accent-color);
  position: relative;
}
.site-nav__link-current::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: -32.5px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  background: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-list {
  display: flex;
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
}

.benefits-list__item:not(:last-child) {
  margin-right: 30px;
}

.benefits-list__icon-box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.benefits-list__description {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

.service-list {
  display: flex;
}

.service-list__item {
  position: relative;
}
.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__background-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-list {
  display: flex;
}

.team-list__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.customers__item {
  width: 170px;
  height: 92px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  transition: fill var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.customers__link:hover, .customers__link:focus, .customers__link:active {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.portfolio-filter__btn {
  color: inherit;
  background-color: var(--filer-and-team);
  border: transparent;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.portfolio-filter__btn:hover, .portfolio-filter__btn:focus, .portfolio-filter__btn:active {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list__text-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list__item {
  width: 370px;
}

.portfolio-list__card {
  color: inherit;
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition-dur-and-func);
}
.portfolio-list__card:hover, .portfolio-list__card:focus, .portfolio-list__card:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}

.footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  align-items: baseline;
  display: flex;
}

.footer-address-block {
  flex-grow: 1;
  margin-right: 70px;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-list {
  width: 44px;
  height: 44px;
}/*# sourceMappingURL=main.css.map */