.service-list {
  display: flex;
}
.service-list__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.service-list__background-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
