%button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.hero__button {
  @extend %button;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
}
.newsletter__button {
  @extend %button;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  width: 200px;
  height: 50px;
}
.modal-form__button {
  @extend %button;
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
