%contacts {
  color: var(--second-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);

  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}
.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contacts__link {
  @extend %contacts;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.contacts__icon {
  fill: currentColor;
}
.address__contacts {
  @extend %contacts;
  letter-spacing: 0.03em;
}
